<h1><%= @book_title %></h1>
<h3><%= @author %></h3>
<h4><%= @pages %> pages</h4>
<p>
  <img src=<%= @image%> alt="">
</p>
<p>
  <%= @description %>
</p>
<p>
  <h4>Average reader rating: <%= @average_rating %></h4>
  <h4>No of Ratings: <%= @number_of_ratings %></h4>
</p>
