<h2><%= @ocean.name %></h2>
<%= image_tag @ocean.image, :alt => @ocean.name if @ocean.image.present? %>

<ul>
  <li> Name:<%= @ocean.name %></li>
  <li> Length:<%= @ocean.length %></li>
  <li> Depth:<%= @ocean.depth %></li>
  <li> Islands:<%= @ocean.islands %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit Ocean', edit_ocean_path(@ocean.id) %>
</div>
