<div class="internal-block">

  <h2><%= $book_name %></h2>

</div>


<div class="internal-block">

<p>
  <img src="<%= $thumb %>">
</p>

</div>



<div class="internal-block">

<p>
  <span>Author:</span> <%= $book_author %>
</p>

</div>


<div class="internal-block">

<p>
  <span>Publisher:</span> <%= $book_publisher %>
</p>

</div>


<div class="internal-block">

<p>
  <span>Description:</span> <%= $book_description %>
</p>

</div>


<div class="internal-block">

<a class="go-home" href="/">Find another book</a>

</div>
