<h2>Edit Mountain</h2>
<form action="<%= mountain_path(@mountain.id) %>" method="post">
<label>
  Name:
  <input type="text" name="name" required value="<%= @mountain.name %>">
</label>
<label>
  Image:
  <input type="url" name='image' value="<%= @mountain.image %>">
</label>
<label>
  Countries:
  <input type="text" name='countries' value="<%= @mountain.countries %>">
</label>
<label>
  Elevation:
  <input type="number" name='elevation' value="<%= @mountain.elevation %>">
</label>
<label>
  Prominence:
  <input type="number" name='prominence' value="<%= @mountain.prominence %>">
</label>
<label>
  Range:
  <input type="text" name='range' value="<%= @mountain.range %>">
</label>
<label>
  First Ascent:
  <input type="date" name='first_ascent' value="<%= @mountain.first_ascent %>">
</label>
<label>
  First Ascenders:
  <input type="text" name='first_ascenders' value="<%= @mountain.first_ascenders %>">
</label>

<button>Update Mountain</button>
</form>