<h2>Edit Mountain</h2>

<form action="<%= mountain_path(@mountain.id) %>" method="post">
  <label>
    Name:
    <input name="name" required value="<%= @mountain.name %>">
  </label>

  <label>
    Image:
    <input type="url" name="image" value="<%= @mountain.image %>">
  </label>

  <label>
    Meaning of Name:
    <input type="text" name="name_meaning" value="<%= @mountain.name_meaning %>">
  </label>

  <label>
    Elevation:
    <input type="number" name="elevation" value="<%= @mountain.elevation %>">
  </label>

  <label>
    Approx. age:
    <input type="number" name="age" value="<%= @mountain.age %>">
  </label>

  <label>
    Location:
    <input type="text" name="location" value="<%= @mountain.location %>">
  </label>

  <label>
    Animal:
    <input type="text" name="animal" value="<%= @mountain.animal %>">
  </label>

  <button>Update Mountain</button>
</form>
