<!DOCTYPE html>
<html>
  <head>
    <title>Football</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= link_to 'All clubs', clubs_path %>
      <%= link_to 'New club', new_club_path %>
      |
      <%= link_to 'All players', players_path %>
      <%= link_to 'New player', new_player_path %>
    </nav>

    <%= yield %>
  </body>
</html>
