<h2><%= @dish['name'] %></h2>

<p>Country of origin: <%= @dish['country'] %></p>

<% unless @dish['image'].nil? || @dish['image'].empty? %>
  <img src="<%= @dish['image'] %>" alt="<%= @dish['name'] %>">
<% end %>

<form action="/food">
  <button>Back</button>
</form>

<form action="/food/<%= @dish['id'] %>/edit">
  <button>Edit</button>
</form>

<form action="/food/<%= @dish['id'] %>/delete">
  <button>Delete</button>
</form>
