<!DOCTYPE html>
<html>
  <head>
    <title>HillCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to 'Home',  mountains_path%> | 
    <%= link_to 'New Mountain', new_mountain_path %>
  </nav>
  <h1>Mountain Ranges</h1>
    <%= yield %>
  </body>
</html>
