<h1><%= @club.title %></h1>

<%= image_tag @club.image, :class => 'feature', :alt => @club.title if @club.image.present? %>

<ul>
  <li>Title: <%= @club.title %></li>
  <li>Country: <%= @club.country %></li>
  <li>City: <%= @club.city %></li>
  <li>Founded: <%= @club.founded.strftime '%A, %B %e, %y' unless @club.founded.nil? %></li>
</ul>

<% @club.players.each do |player| %>
  <%= link_to image_tag(player.image, :class => 'thumb'), player %>
<% end %>

<div class="controls">
  <%= link_to 'Edit club', edit_club_path(@club) %>
  <%= link_to 'Delete club', @club, :method =>'delete' %>

</div>
