<div>
    <h1><%= @book_title %></h1>
    <% @authors.each do |i| %>
        <p><%= i %></p>
    <% end %> 
    <p>Total pages: <%= @total_pages %> </p>
    <p>Published: <%= @date_published %> </p>
    <p><%= @description %> </p>
    <img src="<%= @book_cover %>" width="500px"> 
</div>



