<div>
    <h1><%= @book_title %></h1>
    <p>Written by: <%= @authors.first %> & <%= @authors.last %></p>
    <p>Total pages: <%= @total_pages %> </p>
    <p>Published: <%= @date_published %> </p>
    <p><%= @description %> </p>
    <img src="<%= @book_cover %>" width="500px"> 
</div>
