<h1><%= @car["brand"] %></h1>
<h2>model: <%= @car["model"] %></h2>

<% unless @car["image"].nil? || @car["image"].empty? %>
   <img src="<%=@car["image"] %>" alt="<%=@car["image"] %>">
<% end %>

<div class="controls">
  <a href="/cars/<%= @car["id"] %>/edit">Edit Car</a>
  <a href="/cars/<%= @car["id"] %>/delete">Delete Car</a>
</div>
