<h1>Edit Mountain</h1>
<form action="<%= mountain_path(@mountain.id) %>" method="post">
  <label>
    Name:
    <input name="name" required value="<%= @mountain.name %>">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="url" value="<%= @mountain.image %>">
  </label>

  <label>
    Country:
    <input type="text" name="country" value="<%= @mountain.country %>">
  </label>

  <label>
    Elevation:
    <input type="number" name="elevation" value ="<%= @mountain.elevation %>">
  </label>


  <button>Upate Mountain</button>
</form>
