<h1><%= @mountain.name %></h1>
<%= image_tag @mountain.image if @mountain.image.present? %>

<ul>
  <li>Name: <%= @mountain.name %></li>
  <li>Country: <%= @mountain.country %></li>
  <li>Elevation: <%= @mountain.elevation %></li>
</ul>

<div class="controller">
<%= link_to "Edit Mountain", edit_mountain_path(@mountain.id) %>
<%= button_to 'Delete Mountain', mountain_path(@mountain.id), :method => 'delete' %>

</div>
